<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <!--Authentication & Authorization-->
    <authentication mode="Forms">
      <forms loginUrl="~/Login">
        <!-- User name and encrypted password -->
        <credentials passwordFormat="SHA1">
          <user name="Movie Maniac" password="0AE4A58BFB4780349D56854F1DCC61DCF09F29E6"/>
          <user name="NyangNyang" password="25CB3F25EF93952B34E50FCCA737BC927810742E"/>
          <user name="Norisis" password="FB2338E3A147116C3EF647AA623AA2197FB9CCFB"/>
          <user name="MovieBlind" password="5EAEDB28B54689F7EEFADBA3A1AECADDE704870A"/>
          <user name="Master Movie" password="6C0D84BB8158780EBFA7EAF3B30766530A84A652"/>
          <user name="Lunatic Man" password="7938511E53E1EBEA5532A6B93DB5A8A07F3A2037"/>
          <user name="Super Power Monster" password="7E5DD72DD4BC668FDC2ABFC57B2EC39443F6F3E4"/>
          <user name="FireDragon" password="03BFA4CB0D4346E51FAC928053DACB20E0B74009"/>
          <user name="ShrekIsMyWife" password="AD786841A0F34D9915F23A18076EB0DC0BE864DC"/>
          <user name="KingGeneralEmperor" password="CA41A8562C7F407EB35F6D37C508BFFB239E9833"/>
        </credentials>
      </forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <!--Authentication & Authorization-->
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="MovieManiacDB" connectionString="Data Source=localhost\MovieManiac;Initial Catalog=MovieManiac;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
</configuration>