

/*Master Page*/

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255,255,255,.8);
}

    #login-dp .bottom {
        background-color: rgba(255,255,255,.8);
        border-top: 1px solid #ddd;
        clear: both;
        padding: 14px;
    }

    #login-dp .form-group {
        margin-bottom: 10px;
    }

@media(max-width:768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

        #login-dp .bottom {
            background-color: inherit;
            border-top: 0 none;
        }
}
/*User Registration Page*/
/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.register {
    padding: 50px;
    border-radius: 20px;
    background-color: whitesmoke;
}

page-context {
    background-color: white;
    min-height: 500px;
    padding: 20px;
    font-size: 25px;
}

.subtitle {
    font-size: 35px;
}

.banner {
    width: 100%;
}


td,tr
{
    font-size:large;
    padding:10px;
}
.movieTitle {
    font-weight: bold;
    font-size: 25px;
}

.movieListRow {
    margin-bottom: 50px;
}

.movieListTable {
    margin: 20px;
    padding: 15px;
    box-shadow: 5px;
    border-radius: 5px;
    width: 220px;
    height: 100px;
}


.movieListInfo {
    padding: 20px;
    font-size: 20px;
}

.textArea {
    width: 100%;
}


/* Movie Detail */

.tblMovieInfo {
    font-size: 25px;
}

.tdPicture {
    width: 600px;
    text-align: center;
}

.movieImage {
    width:300px;
    margin-left: auto;
    margin-right: auto;
}

.lblMovieInfoIndex {
    width: 150px;
}

.lblMovieInfo {
    width: 150px;
}

.float-right {
    float: right;
}

.txtDescription {
    padding: 40px;
}


/* Review */

.tblReview {
    width: 100%;
    padding: 40px;
    font-size: 25px;
    margin-right: 40px;
}

.txtReviewScore {
    width: 50px;
}

.txtReviewText {
    width: 100%;
    height: 150px;
}