

/*Master Page*/
body {
    background: url('https://i.ytimg.com/vi/WhZiIsq4raM/maxresdefault.jpg');
}

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255,255,255,.8);
}

    #login-dp .bottom {
        background-color: rgba(255,255,255,.8);
        border-top: 1px solid #ddd;
        clear: both;
        padding: 14px;
    }

    #login-dp .form-group {
        margin-bottom: 10px;
    }

@media(max-width:768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

        #login-dp .bottom {
            background-color: inherit;
            border-top: 0 none;
        }
}


.page-context {
    background-color: white;
    min-height: 500px;
    padding: 20px;
}

.subtitle {
    font-size: 35px;

}

.banner {
    width:100%;
}

    .banner img {
    }


.movieList {

}
.movieTitle {
        font-weight: bold;
            font-size: 25px;
    }

.movieListRow {
    margin-bottom: 50px;
}

.movieListTable {
    margin: 20px;
    padding: 15px;
    box-shadow: 5px;
    border-radius: 5px;
    width: 220px;
    height: 100px;
}

.movieListPicture {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px;
}

.movieListInfo {
    padding: 20px;
    font-size: 20px;
}